<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<ul>
    <li><a th:href="@{/params/string(texto='Hola Isael')}">/params/string?texto=Hola Isael</a></li>
    <li><a th:href="@{/params/string(texto='Que tal Susan')}">/params/string?texto=Que tal Susan!</a></li>
    <li><a th:href="@{/params/mix-params(saludo='Como estas Isael', numero = 7)}">/params/mix-params/string?saludo=Como estas Isael&numero=7</a></li>
    <li><a th:href="@{/params/mix-param-request(saludo='Como estas Isael', numero = 7)}">/params/mix-param-request/string?saludo=Como estas Isael&numero=7</a></li>

</ul>
</body>
</html>